body {
	font-family: "Adobe Caslon Pro Bold";
}
#members
{
	border: #e0e0e0 double 2px;
	margin-left:2%;
	margin-top:5px;
	background-color:#70a7c0;
}
.search
{
	width: 264px;
	font-family: "Adobe Caslon Pro Bold";
}
.table
{
	background-color: #b4c4d9;
	margin-top: 2%;
	margin-left: 0%;
	/*width: 950px;*/
	border-bottom-style: none;
	border-right-style: none;
	color: #000000;
}

.panel
{
	background-color:#e0e4ea;
	
}
.details
{	
font-family: Arial, Helvetica, sans-serif;
	color:#4a4a4e;
	font-weight:bold;
	text-align:left;
	vertical-align:text-top;
}
.row
{
	width:400px;
}
.label
{
	Width:150px;
	 Height:40px;
}
.next
{
	text-align:center;
}
.btn1
{
	margin-top: -6%;
	width: 100px;
	height: 31px;
}
.btn
{
	vertical-align:middle;
	width:100px;
	height:31px;
	
}
.img
{
	width:80px;
}